**.class
**.swp
**.swo
**.swn
**/build
**/.gradle/
s3-aws-lambda/outputfile.txt
s3-aws-lambda/gradle.properties
aws-csv-transformer/gradle.properties
s3-aws-lambda/src/main/resources/aws.properties
properties-apache-commons/gradle.properties
