**.class
**.swp
**.swo
**.swn
**.classpath
**.project
**.vscode
**.settings
**gradle.properties
**build/
**bin/
**.gradle/
s3-aws-lambda/outputfile.txt
s3-aws-lambda/src/main/resources/aws.properties
mailbox-reader/src/main/resources/application.properties
